.post {
  border: 1px solid $color-2;
  border-radius: 10px;
  padding: 25px 25px 60px 25px;
  position: relative;
  margin: auto auto 20px auto;
	background-color: $color-1;
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.35);
	max-width: 90vw;
	word-wrap: break-word;
	
  .edit-delete {
    position: absolute;
    right: 20px;
    img {
      height: 20px;
      width: 20px;
      margin: 0 4px;
    }
  }

  .post-img {
		height: 200px;
    width: 100%;
    object-fit: cover;
		border-radius: 5px;
    margin: 20px auto;
  }

  form {
    textarea {
			width: 100%;
			white-space: pre-line;
      resize: none;
      border: $color-4 solid 1px;
			border-radius: 10px;
      padding: 10px;
    }
  }

  .author {
    position: absolute;
    right: 28px;
    bottom: 10px;
    display: flex;
    h5 {
      margin-right: 14px;
    }
    div {
      display: flex;
    }
    .thumb {
      height: 25px;
      width: 25px;
      object-fit: cover;
			margin-right: 2px;
    }
		span {
			font-weight: 600;
		}
  }
	
	p {
		line-height: 1.2;
	}
}

.mytextarea {
	min-height: 80px;
}

.postTitle {
	padding-right: 50px;
}