$font-color-light: rgb(255, 255, 255);
$font-color-dark: #000000;

$color-1: rgba(255, 255, 255, 0.60);
$color-2: #292929;
$color-3: #1a8917;
$color-4: rgb(168, 168, 168);

/*********************************/
/*********** SCROLL BAR *********/
/*******************************/
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.4) rgba(100, 100, 100, 0.3);
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: rgba(100, 100, 100, 0.3);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 20px;
  // border: 3px solid orange;
}
/*******************************/
/*******************************/

body {
  color: $font-color-dark;
  min-height: 100vh;
  background: url(../assets/Elegant_Background-2.jpg);
	background-size: cover;
}

h1 {
  color: $font-color-light;
  margin-top: 20px;
}

input[type="submit"] {
  padding: 10px 15px;
  border: none;
  display: block;
  border-radius: 5px;
  margin-top: 4px;
  background: $color-3;
  width: auto;
  color: $font-color-light;
  margin-left: auto;
  letter-spacing: 1px;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
}

p {
	white-space: pre-line;
  font-size: 1.4rem;
  line-height: 1;
}
