/*********************************/
/*********** SCROLL BAR *********/
/*******************************/
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.4) rgba(100, 100, 100, 0.3);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(100, 100, 100, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 20px;
}

/*******************************/
/*******************************/
body {
  color: #000000;
  min-height: 100vh;
  background: url(../assets/Elegant_Background-2.jpg);
  background-size: cover;
}

h1 {
  color: rgb(255, 255, 255);
  margin-top: 20px;
}

input[type=submit] {
  padding: 10px 15px;
  border: none;
  display: block;
  border-radius: 5px;
  margin-top: 4px;
  background: #1a8917;
  width: auto;
  color: rgb(255, 255, 255);
  margin-left: auto;
  letter-spacing: 1px;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
}

p {
  white-space: pre-line;
  font-size: 1.4rem;
  line-height: 1;
}

.navbar {
  padding: 15px;
  max-height: 125px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.35);
}
@media (max-width: 576px) {
  .navbar {
    padding: 5px 0 0 0;
  }
}
.navbar .navbar-brand img {
  width: 50px;
  height: 50px;
}

.post {
  border: 1px solid #292929;
  border-radius: 10px;
  padding: 25px 25px 60px 25px;
  position: relative;
  margin: auto auto 20px auto;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.35);
  max-width: 90vw;
  word-wrap: break-word;
}
.post .edit-delete {
  position: absolute;
  right: 20px;
}
.post .edit-delete img {
  height: 20px;
  width: 20px;
  margin: 0 4px;
}
.post .post-img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin: 20px auto;
}
.post form textarea {
  width: 100%;
  white-space: pre-line;
  resize: none;
  border: rgb(168, 168, 168) solid 1px;
  border-radius: 10px;
  padding: 10px;
}
.post .author {
  position: absolute;
  right: 28px;
  bottom: 10px;
  display: flex;
}
.post .author h5 {
  margin-right: 14px;
}
.post .author div {
  display: flex;
}
.post .author .thumb {
  height: 25px;
  width: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 2px;
}
.post .author span {
  font-weight: 600;
}
.post p {
  line-height: 1.2;
}

.mytextarea {
  min-height: 80px;
}

.postTitle {
  padding-right: 50px;
}

.user {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-right: 3%;
}
.user h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  line-height: 1;
}
.user img {
  border-radius: 10px;
  height: 48px;
}
.user p {
  font-size: 1.15rem;
  line-height: 0.5;
}

.form-container {
  border: 1px solid #292929;
  margin: 50px auto 60px auto;
  max-width: 80%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.35);
}
.form-container form {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.form-container form textarea {
  border: 1px solid rgb(168, 168, 168);
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px 10px;
  resize: none;
  margin-bottom: 6px;
}
@media (max-width: 576px) {
  .form-container form textarea {
    font-size: 1rem;
  }
}

.titleTxtArea {
  max-width: 80%;
  max-height: 50px;
}/*# sourceMappingURL=index.css.map */